

<section class="bg-secondary">
    <div class=" container-fluid">
<div class="container">
        
        <div class="content pt-5">
            <h1 class="title mt-2  ">Pocket<br>Journal</h1>
            <p class="desc mt-2 ">Your Private Web Journal.You can add daily writings and read it in future</p>
            <a href="/login" class="text-light btn mt-2 p-3">Get Started</a>
</div>
        </div>
    </div>
</section>